.navbar-container {
  position: absolute;
  top: 0;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  width: 100%;

  .logo {
    margin-left: 3%;
    height: 54px;

    &:hover {
      cursor: pointer;
    }
  }

  .content-container {
    display: flex;
    align-items: center;
    margin-right: 3%;
    width: fit-content;
    nav {
      display: flex;
      align-items: center;
      gap: 14px;
      .content {
        color: var(--black-cl);
        font-size: var(--paragraph-fs);
        font-weight: 500;
        text-decoration: none;
        background: none;
        border: 0px;
        padding: 12px 20px;
        white-space: nowrap;
        border-radius: 8px;

        transition: border 0.15s ease-in-out;

        &:hover {
          color: var(--primary-cl);
          cursor: pointer;
        }
      }
      .profile {
        position: relative;
        margin-left: 16px;
        height: 36px;
        img {
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          background-color: var(--white-cl);
          &:hover {
            cursor: pointer;
          }
        }
        .dropdown {
          position: absolute;
          right: -15px;
          margin-top: 8px;
          width: 200px;
          border-radius: 8px;
          background-color: var(--white-cl);
          box-shadow: 0 2px 54px 0 rgba(0,0,0,.1);;
          ::after{
              content: " ";
              position: absolute;
              border-width: 0 10px 8px;
              top: -8px;
              border-color: var(--white-cl) transparent;
              border-style: solid;
              right: 24px;
          }
          .menu {
            width: 100%;
            margin: 0;
            padding: 12px;
            box-sizing: border-box;
            .menu-item {
              height: 1.5rem;
              display: flex;
              align-items: center;
              padding: 0.5rem;
              &:hover {
                cursor: pointer;
                color: var(--primary-cl);
                font-weight: 600;
              }
              .link {
                text-decoration: none;
                color: var(--primary-color);
              }
            }
          }
        }
      }
      .signup {
        border: 2px solid var(--primary-cl) !important;
        border-radius: 8px;
        transition: background-color 0.15s ease-in-out;

        &:hover {
          color: var(--white-cl);
          background-color: var(--primary-cl);
          border-radius: 8px !important;
        }
      }
    }
    .fa-bell {
      color: var(--primary-color);
      margin-left: 64px;
    }
  }
}
