.product-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(32.2vw - 134px);
  margin-bottom: 50px;
  .product-search {
    border: 1px solid transparent;
    background-color: var(--white-cl);
    border-radius: 50px;
    width: 707px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 23px;
    @media (max-width: 1060px) {
      width: 66%;
    }
    i {
      position: absolute;
      left: 20px;
      font-size: 1.5rem;
      color: var(--primary-cl);
    }
    input {
      width: 80%;
      height: 60%;
      font-size: var(--header3-fs);
      color: var(--grey-600);
      text-align: center;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  .product-menu {
    display: flex;
    gap: 37px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .product-button {
      position: relative;
      width: 211px;
      height: 102px;
      background-color: var(--white-cl);
      border: 2px solid var(--primary-cl);
      border-radius: 12px;

      h2 {
        position: absolute;
        width: 80px;
        height: 28px;
        left: calc(50% - 80px / 2 - 51.5px);
        top: calc(50% - 28px / 2 - 14px);
        display: flex;
        align-items: center;
        text-align: left;
        color: var(--primary-cl);
      }
      i {
        color: var(--primary-cl);
        font-size: 2rem;
        position: absolute;
        left: 70%;
        top: 50%;
      }
      transition: background-color 0.15s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: var(--primary-cl);
        h2 {
          color: var(--white-cl);
        }
        i {
          color: var(--white-cl);
        }
      }
    }
  }
}
