.product-detail-price-box{
    padding: 25px;
    border: 1px solid var(--grey-500);
    border-radius: 8px;
    display: flex;
    flex-direction: row;

    i{
        color: var(--primary-cl);
        min-width: 34px;
    }
    .prices{
        width: 100%;
        display: grid;
        //gap: 10px;
        
        grid-template-columns: repeat(2, 1fr);
        .price{
            display: grid;
            grid-template-columns: 70% 30%;
        }
    }
    
}