.tags-and-open-hours-form{
    .form{
        display: flex;
        flex-direction: column;
        label {
            display: flex;
            align-items: center;
            .checkbox {
              accent-color: var(--primary-cl);
              height: auto !important;
              &:hover {
                cursor: pointer;
              }
            }
          }
        .array{
            .period{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                .index{
                    width: 1rem;
                }
                .price{
                    width: 80px;
                }
            }
            .add-btn{
                margin: 5px 0;
            }
        }
    }
}