.product-page-container {
  margin-top: var(--navbar-height);
  min-height: 100vh;
  background-color: var(--white-cl);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    width: 100%;
    box-sizing: border-box;
    height: 107px;
    background-color: var(--primary-cl);
    color: white;
    display: flex;
    h1 {
      font-weight: bold;
      margin: auto;
    }
  }
  .content-container {
    box-sizing: border-box;
    padding: 24px;
    @media (min-width: 1080px) {
      width: 1080px;
    }
    @media (max-width: 1080px) {
      width: 100%;
    }
    display: flex;
    gap: 24px;
    .filter-container {
      width: 25%;
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      height: fit-content;
      gap: 1.5rem;
      .filter-box {
        border: 1px solid var(--grey-500);
        border-radius: 8px;
        padding: 1rem 1.5rem;
        border: 1 solid;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        img {
          width: 100%;
        }
        .option-container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          label {
            display: flex;
            align-items: baseline;
            gap: 4px;
            input {
              accent-color: var(--primary-cl);
              &:hover {
                cursor: pointer;
              }
            }
          }
          button {
            display: flex;
            align-items: center;
            gap: 4px;
            background: none;
            border: none;
            color: var(--grey-700);
            text-decoration: underline;
          }
        }
      }
    }
    .right-container {
      width: 75%;
      display: flex;
      flex-direction: column;
      .search-sort-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        .search {
          display: flex;
          align-items: center;
          width: 18rem;
          border: 1px solid var(--grey-300);
          gap: 0.5rem;
          padding: 0.5rem 1rem;
          border-radius: 2rem;
          i {
            color: var(--primary-cl);
          }
          input {
            font-size: var(--header4-fs);
            flex-grow: 1;
            border: none;
            &:focus {
              outline: none;
            }
          }
        }
        .default-filter {
          font-weight: 600;
          font-size: var(--paragraph-fs);
          &:hover {
            cursor: pointer;
          }
        }
        .sort-container {
          margin-left: auto;
          color: var(--grey-700);
          select {
            margin-left: 0.5rem;
            border: 1px solid var(--grey-300);
            font-family: inherit;
            font-size: var(--header4-fs);
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            color: var(--grey-700);
          }
        }
      }
      .tags-chip-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        button.tag-chip {
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          display: flex;
          align-items: center;
          border: 1px solid var(--grey-300);
          background-color: var(--white-cl);
          padding: 0.5rem;
          .pointer-events-none {
            pointer-events: none;
            i {
              color: var(--primary-cl);
            }
          }
        }
      }
      .result-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}
