@import "./utilities.scss";

@import "./pages/HomePage.scss";
@import "./pages/ServicesPage.scss";
@import "./pages/SigninPage.scss";

@import "./components/Navbar.scss";
@import "./components/SlideBanner.scss";
@import "./components/Footer.scss";
@import "./components/SigninBox.scss";
@import "./components/ContactFooter.scss";
@import "./components/SeoFooter.scss";
@import "./components/ServiceMenu.scss";
@import "./components/ContentSlide.scss";
@import "./components/HomeServiceCard.scss";
@import "./components/PetModalFilter.scss";
@import "./components/ServiceCard.scss";

:root {
  font-size: 16px;
  font-weight: 400;
  font-family: $primary-font;
}

body {
  display: block;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1-fs);
  margin: 0;
}
h2 {
  font-size: var(--header2-fs);
  margin: 0;
}
h3 {
  font-size: var(--header3-fs);
  margin: 0;
}
h4 {
  font-size: var(--header4-fs);
  margin: 0;
}
p {
  font-size: var(--paragraph-fs);
  margin: 0;
  padding: 0;
}
