@import "./utilities.scss";

@import "./pages/HomePage.scss";
@import "./pages/ProductsPage.scss";
@import "./pages/SigninPage.scss";
@import "./pages/ResetPasswordPage.scss";
@import "./pages/ProductDetailPage.scss";
@import "./pages/ProfilePage.scss";
@import "./pages/AddProductPage.scss";

@import "./components/Navbar.scss";
@import "./components/SlideBanner.scss";
@import "./components/Footer.scss";
@import "./components/SigninBox.scss";
@import "./components/ContactFooter.scss";
@import "./components/SeoFooter.scss";
@import "./components/ProductMenu.scss";
@import "./components/ContentSlide.scss";
@import "./components/HomeProductCard.scss";
@import "./components/PetModalFilter.scss";
@import "./components/ProductCard.scss";
@import "./components/ProductGallery.scss";
@import "./components/ProductDetailSummaryBox.scss";
@import "./components/ProductDetailDescriptionBox.scss";
@import "./components/ProductDetailPriceBox.scss";
@import "./components/ProductDetailRatingBox.scss";
@import "./components/MyProduct.scss";
@import "./utils/RenderStars.scss";
@import "./utils/FindOnMap.scss";
@import "./components/Profile.scss";
@import "./components/BasicInfoForm.scss";
@import "./components/LocationForm.scss";
@import "./components/TagsAndOpenHoursForm.scss";
@import "./components/ImagesForm.scss";

:root {
  font-size: 16px;
  font-weight: 400;
  font-family: $primary-font !important;
}

body {
  display: block;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--header1-fs);
  font-weight: 500 !important;
  margin: 0;
}
h2 {
  font-size: var(--header2-fs);
  font-weight: 500 !important;
  margin: 0;
}
h3 {
  font-size: var(--header3-fs);
  font-weight: 500 !important;
  margin: 0;
}
h4 {
  font-size: var(--header4-fs);
  font-weight: 400 !important;
  margin: 0;
}
p {
  font-size: var(--paragraph-fs);
  font-weight: 400 !important;
  margin: 0;
  padding: 0;
}
input,
button {
  font-family: "Work Sans", sans-serif;
}
